{% extends 'base.html.twig' %}

{% block title %}ChiefSpeech index{% endblock %}

{% block body %}
    <h1>ChiefSpeech index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>UnderTitle</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chief_speech in chief_speeches %}
            <tr>
                <td>{{ chief_speech.id }}</td>
                <td><img src="{{ asset('img/upload/chiefPicture/' ~ chief_speech.picture) }}" width="100" alt=""></td>
                <td>{{ chief_speech.underTitle }}</td>
                <td>{{ chief_speech.text }}</td>
                <td>
                    <a href="{{ path('chief_speech_show', {'id': chief_speech.id}) }}">show</a>
                    <a href="{{ path('chief_speech_edit', {'id': chief_speech.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chief_speech_new') }}">Create new</a>
{% endblock %}
