{% extends 'base.html.twig' %}

{% block title %}ChiefSpeech{% endblock %}

{% block body %}
    <h1>ChiefSpeech</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chief_speech.id }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ chief_speech.picture }}</td>
            </tr>
            <tr>
                <th>UnderTitle</th>
                <td>{{ chief_speech.underTitle }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ chief_speech.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chief_speech_index') }}">back to list</a>

    <a href="{{ path('chief_speech_edit', {'id': chief_speech.id}) }}">edit</a>

    {{ include('chief_speech/_delete_form.html.twig') }}
{% endblock %}
