{% extends 'baseAdmin.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block body %}
<section id="back-office-container-laptop">
    <div class="container-fluid">
        <div class="row">
            <div class="navcontainer col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <nav id="navBackOffice" class="navbar navbar-expand-lg navbar-light">
                            <div class="container-fluid">
                                <a href="{{ path('admin') }}"><h3>Menu<br>Back-Office</h3></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Acceuil
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <li><a class="dropdown-item" href="{{ path('station_core_picture_index') }}">Photo groupe</a></li>
                                                <li><a class="dropdown-item" href="{{ path('chief_speech_index') }}">Encart chef de centre</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Nos Missions
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <li><a class="dropdown-item" href="{{ path('engins_index') }}">Engin</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                L'amicale
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <li><a class="dropdown-item " href="{{ path('amicale_descript_index') }}">Présentation</a></li>
                                                <li><a class="dropdown-item" href="{{ path('amicale_news_index') }}">Actualitées</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('golden_book_admin') }}">Livre d'or</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('user_index') }}">Gestion utilisateurs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
    
            <div class="backOfficeContainer col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Bienvenue sur le back office</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h3>Le back-office kezacko ?</h3>
                        <p>En informatique, le back-office désigne la partie « invisible » d’un site internet. C’est la partie utilisée pour la conception, la gestion et l’administration du site. Il s’agit en fait d’une interface protégée par un mot de passe qui sert à gérer le site.</p>
                        <p>En français, on pourrait traduire ce terme par « arrière-guichet » ou « arrière-boutique ». On oppose le back-office au front-office, la partie des sites internet qui est visible par les internautes. Dans le domaine, on retrouve souvent l’abréviation BO pour parler de cette partie du site.</p>

                        <h3>A quoi sert-il ?</h3>
                        <p>Le back-office d’un site internet est une interface qui sert à administrer un site. C’est en quelque sorte un panneau de contrôle depuis lequel il est possible de gérer divers services. Dans notre cas, il permet de :</p>
                        <ul>
                            <li>Gérer la photo de groupe - ACCUEIL</li>
                            <li>Gérer l'encart du chef de centre - ACCUEIL</li>
                            <li>Gérer les engins et leur description - NOS MISSIONS</li>
                            <li>Gérer la présentation de l'amicale - L'AMICALE DES SAPEURS-POMPIERS</li>
                            <li>Gérer les news - L'AMICALE DES SAPEURS-POMPIERS</li>
                            <li>Gérer la validation des commentaires - LIVRE D'OR</li>
                            <li>Gérer les comptes utilisateurs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


