{% extends 'baseAdmin.html.twig' %}

{% block title %}Signaler un bug{% endblock %}

{% block body %}

<section id="bugTracker-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for flashError in app.flashes('sendMessage') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashError }}
                    </div>
                {% endfor %}

                <div class="form-container">
                    <h2>Signalez un bug</h2>

                    {{ form_start(form) }}

                        <div class="form-contact">
                            {{ form_row(form.bugPage) }}
                            {{ form_row(form.bugDescript) }}
                        </div>

                        <div class="submit">
                            {{ form_row(form.Envoyer) }}
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
            window.scrollTo(0, 150);
</script>

{% endblock %}
