{% extends 'baseExtranet.html.twig' %}

{% block title %}Extranet{% endblock %}

{% block body %}
<section id="accueil-extranet">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Bienvenue sur l'extranet du C.I.S La Montagne</h2>
            </div>
        </div>

        <div class="principal-bloc-container">
            <div class="row"> <!-- Déclaration de la première ligne de container -->
                <div class="col-md-6"> <!-- Déclaration du bloc gauche -->
                    <div class="dual-bloc-container first-bloc"><!-- Déclaration nominal du bloc gauche -->
                        <div class="row">
                            <div class="col-md-6"> <!-- Déclaration de l'item gauche -->
                                <div class="bloc-category"> <!-- Déclaration de mon bloc-->
                                    <div class="category-name">
                                        <div class="icons">
                                            <i class="fas fa-fire-extinguisher"></i>
                                        </div>
                                        <div class="title">
                                            <h3>Opérationnelle</h3>
                                        </div>
                                    </div>
        
                                    <div class="category-content">
                                        <p>Service indisponible sur la version bêta test</p>
                                    </div>
                                </div>
        
                            </div>
        
                            <div class="col-md-6"><!-- Déclaration de l'item droit -->
                                <div class="bloc-category"> <!-- Déclaration de mon bloc-->
                                    <div class="category-name">
                                        <div class="icons">
                                            <i class="fas fa-book"></i>
                                        </div>
                                        <div class="title">
                                            <h3>Formation</h3>
                                        </div>
                                    </div>
        
                                    <div class="category-content">
                                        <p>Service indisponible sur la version bêta test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6"><!-- Déclaration du bloc droit -->
                    <div class="dual-bloc-container second-bloc"><!-- Déclaration nominal du bloc droit -->
                        <div class="row">
                            <div class="col-md-6"> <!-- Déclaration de l'item gauche -->
                                <div class="bloc-category"> <!-- Déclaration de mon bloc-->
                                    <div class="category-name">
                                        <div class="icons">
                                            <i class="fas fa-basketball-ball"></i>
                                        </div>
                                        <div class="title">
                                            <h3>Sport</h3>
                                        </div>
                                    </div>
        
                                    <div class="category-content">
                                        <p>Service indisponible sur la version bêta test</p>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6"><!-- Déclaration de l'item droit -->
                                <div class="bloc-category"> <!-- Déclaration de mon bloc-->
                                    <div class="category-name">
                                        <div class="icons">
                                            <i class="fas fa-calendar-alt"></i>
                                        </div>
                                        <div class="title">
                                            <h3>Amicale</h3>
                                        </div>
                                    </div>
        
                                    <div class="category-content">
                                        <p>Service indisponible sur la version bêta test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row"> <!-- Déclaration de la première ligne de container -->
                <div class="col-md-6"> <!-- Déclaration du bloc gauche -->
                    <div class="dual-bloc-container third-bloc"><!-- Déclaration nominal du bloc gauche -->
                        <div class="row">
                            <div class="col-md-6"> <!-- Déclaration de l'item gauche -->
                                <div class="bloc-category"> <!-- Déclaration de mon bloc-->
                                    <div class="category-name">
                                        <div class="icons">
                                            <i class="fas fa-first-aid"></i>
                                        </div>
                                        <div class="title">
                                            <h3>Pharmacie</h3>
                                        </div>
                                    </div>
        
                                    <div class="category-content">
                                        <ul>
                                            <li><a href="{{ path('pharma_stock_configService') }}"><i class="fas fa-cog"></i></a><span>Config.<br>service</span></li>
                                            <li><a href="{{ path('pharma_stock_replenishment') }}"><i class="fas fa-notes-medical"></i></a><span>Gestion<br>du stock</span></li>
                                            <li><a href="{{ path('pharma_stock_index') }}"><i class="fas fa-ambulance"></i></a><span>Reconditionnement<br>VASV</span></li>
                                        </ul>
                                    </div>
                                </div>
        
                            </div>
        
                            <div class="col-md-6"><!-- Déclaration de l'item droit -->
                                <div class="bloc-category"> <!-- Déclaration de mon bloc-->
                                    <div class="category-name">
                                        <div class="icons">
                                            <i class="fas fa-ambulance"></i>
                                        </div>
                                        <div class="title">
                                            <h3>Engins</h3>
                                        </div>
                                    </div>
        
                                    <div class="category-content">
                                        <ul>
                                            <li><a href="{{ path('vehicles_index') }}"><i class="fas fa-cog"></i></a><span>Config.<br>service</span></li>
                                            <li><a href="{{ path('control_vehicles_index') }}"><i class="fas fa-tools"></i></a><span>Contrôle</span></li>
                                            <li><a href="{{ path('report_vehicle_new') }}"><i class="fas fa-user-edit"></i></a><span>Report</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6"><!-- Déclaration du bloc droit -->
                    <div class="dual-bloc-container fourth-bloc"><!-- Déclaration nominal du bloc droit -->
                        <div class="row">
                            <div class="col-md-6"> <!-- Déclaration de l'item gauche -->
                                <div class="bloc-category"> <!-- Déclaration de mon bloc-->
                                    <div class="category-name">
                                        <div class="icons">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                        <div class="title">
                                            <h3>Commandes</h3>
                                        </div>
                                    </div>

                                    {% set userTable = [] %}
                                        {% for roleCenter in app.user.roleCenter %}
                                            {% if roleCenter.nameRoleCenter not in userTable %}
                                                {% set userTable = userTable|merge([roleCenter.nameRoleCenter])%}
                                            {% endif %}
                                        {% endfor %}
        
                                    <div class="category-content">
                                        {% if 'Chef de centre' in userTable or 'Adjoint moyens opérationnels' in userTable or 'Adjoint Moyens/Ressources/Infrastructures' in userTable or 'Admin' in userTable %}
                                            <li><a href="{{ path('order_required_index') }}"><i class="fas fa-clipboard-list"></i></a><span>Gérer les commandes</span></li>
                                        {% else %}
                                            <li><a href="{{ path('order_required_index') }}"><i class="fas fa-shopping-bag"></i></a><span>Demander une commande</span></li>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6"><!-- Déclaration de l'item droit -->
                                <div class="bloc-category"> <!-- Déclaration de mon bloc-->
                                    <div class="category-name">
                                        <div class="icons">
                                            <i class="fas fa-tshirt"></i>
                                        </div>
                                        <div class="title">
                                            <h3>Habillement</h3>
                                        </div>
                                    </div>
        
                                    <div class="category-content">
                                        <p>Service indisponible sur la version bêta test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
