{% extends 'base.html.twig' %}

{% block title %}C.I.S La MONTAGNE{% endblock %}

{% block body %}
<section id="stationPresentation">
    <div class="container">
        <div class="row container-station-presentation">
            <div class="col-lg-9">
                <div class="stationPicture">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Effectif du C.I.S La MONTAGNE</h2>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                            {% for station_core_picture in station_core_pictures %}
                                <img class="img-fluid" src="{{ asset('img/upload/stationPicture/' ~ station_core_picture.picture) }}" type="image/AVIF"  alt="Photo effectif C.I.S La Montagne">    
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="cis-descript-mobile">
                                Un centre d’Intervention et d’Incendie et de secours (C.I.S) comme celui de La Montagne est armé, 
                                selon notre jargon, par une trentaine de Sapeur Pompiers Volontaires. Etre SPV est un engagement 
                                citoyen reposant sur le volontariat. Par opposition aux sapeurs-pompiers professionnels, les SPV 
                                ne sont pas rémunérés, mais seulement indemnisés. Etre pompier n’est pas leurs métiers, car elles 
                                ou ils sont pâtissiers, commerçants mécaniciens, mais ces SPV ont tous pour passion de porter assistance 
                                et défendre nos communes de La Montagne et de Saint Jean de Boiseau.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="containerChiefSpeech">
                    {% for chief_speech in chief_speeches %}
                        <img src="{{ asset('img/upload/chiefPicture/' ~ chief_speech.picture) }}" type="image/AVIF" width="100" alt="Chef de C.I.S La Montagne">
                        <figcaption>{{ chief_speech.underTitle }}</figcaption>
                    {% endfor %}
                        <h3>Le mot du<br>chef de centre</h3>
                    {% for chief_speech in chief_speeches %}
                        <p>{{ chief_speech.text|raw }}</p>
                    {% endfor %}
                </div>                
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="cis-descript">
                    Un centre d’Intervention et d’Incendie et de secours (C.I.S) comme celui de La Montagne est armé, 
                    selon notre jargon, par une trentaine de Sapeur Pompiers Volontaires. Etre SPV est un engagement 
                    citoyen reposant sur le volontariat. Par opposition aux sapeurs-pompiers professionnels, les SPV 
                    ne sont pas rémunérés, mais seulement indemnisés. Etre pompier n’est pas leurs métiers, car elles 
                    ou ils sont pâtissiers, commerçants mécaniciens, mais ces SPV ont tous pour passion de porter assistance 
                    et défendre nos communes de La Montagne et de Saint Jean de Boiseau.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="stationValue">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Nos valeurs</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 img-content">
                <img class="img-fluid" src="{{ asset('img/nos_valeurs/fiers_de_nos_valeurs.avif') }}" type="image/AVIF" alt="Fiers de nos valeurs">
            </div>

            <div class="col-md-7 text-content">
                <p>
                    Un centre d’Intervention et de Secours comme le nôtre a pour structure une organisation 
                    hiérarchique basé sur le respect respect de valeurs qui est une forme d'engagement permanent, 
                    une obligation absolue, inconditionnelle vis-à-vis de l'Autre,
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 text-content">
                <p>
                    Ces valeurs, au prix d’un apprentissage de techniques opérationnelles au service du secours à personnes, 
                    aux animaux ou au biens, ont pour seule but de « faire face » aux imprévus de la vie à vos cotés.
                </p>
            </div>
            <div class="col-md-5 img-content">
                <img class="img-fluid" src="{{ asset('img/nos_valeurs/porter_secours.avif') }}" type="image/AVIF" alt="porter_secours">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 img-content">
                <img class="img-fluid" src="{{ asset('img/nos_valeurs/equipe.avif') }}" type="image/AVIF" alt="Equipe">
            </div>

            <div class="col-md-7 text-content">
                <p>
                    Cet engagement,  dans des conditions hostiles et souvent dégradées, n’est envisageable qu’au prix d’une 
                    travail d’équipe ou le collectif est un impératif.
                </p>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-12 stair_raice">
                <img class="img-fluid" src="{{ asset('img/nos_valeurs/stair_raice.avif') }}" type="image/AVIF" alt="">
            </div>
        </div> -->
    </div>
</section>

<section id="stationStory">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Notre histoire</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 img-content">
                <img class="img-fluid" src="{{ asset('img/station_story/Anciens.avif') }}" type="image/AVIF" alt="AnciensPompiers">
            </div>

            <div class="col-md-7 text-content">
                <p>
                    Le centre d’Intervention de Secours et de La Montagne a plus de 80 ans d’existence. 
                    Ses pompiers ont intervenus à Nantes lors des bombardements de la Seconde Guerre Mondiale.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 text-content">
                <p>
                    Notre centre d’intervention a connu des matériels roulants et remorqués comme des motopompes qui n’ont 
                    fait que se moderniser au cours de son histoire pour faire face au nombre d’intervention qui n’a jamais cesser d’augmenter.
                </p>
            </div>
            <div class="col-md-5 img-content">
                <img class="img-fluid" src="{{ asset('img/station_story/Motopompe_action.avif') }}" type="image/AVIF" alt="Motopompe en action">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 img-content">
                <img class="img-fluid" src="{{ asset('img/station_story/Motopompe_LMTGE.avif') }}" type="image/AVIF" alt="Motopompe La Montagne">
            </div>

            <div class="col-md-7 text-content">
                <div class="textimg-content">
                    <p>
                        Sans ces hommes et ces femmes, qui ont su s’adapter à des conditions d’interventions en perpétuelle évolution, notre centre n’existerait 
                        pas aujourd’hui.
                    </p>
    
                    <img class="img-fluid" src="{{ asset('img/station_story/Casque.avif') }}" type="image/AVIF" alt="Casque pompier anciens">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
