{% extends 'base.html.twig' %}

{% block title %}C.I.S La MONTAGNE{% endblock %}

{% block body %}
<section id="recruitement">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for flashError in app.flashes('sendMessage') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashError }}
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-12">
                <img class="img-fluid" src="{{ asset('img/divers/recruitement2.avif') }}" type="image/AVIF" alt="recrutement spv">
            </div>

            
        </div>

        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid" src="{{ asset('img/divers/recruitement1.avif') }}" type="image/AVIF" alt="recrutement spv">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Rejoignez-nous !</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}

                    <div class="form-contact">
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.message) }}
                    </div>

                    <div class="submit">
                        {{ form_row(form.Envoyer) }}
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>

<script>
            window.scrollTo(0, 150);
</script>

{% endblock %}
