{{ form_start(form) }}
    {{ form_row(form.title, { label: 'Titre de la news :' }) }}
    {{ form_row(form.text, { label: 'Texte de la news :' }) }}
    {{ form_row(form.img, { label: 'Image (optionnelle | 1 seule) :' }) }}

    <button class="btn-save">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}

