{% extends 'base.html.twig' %}

{% block title %}AmicaleNews{% endblock %}

{% block body %}
    <h1>AmicaleNews</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ amicale_news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ amicale_news.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ amicale_news.text }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ amicale_news.img }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('amicale_news_index') }}">back to list</a>

    <a href="{{ path('amicale_news_edit', {'id': amicale_news.id}) }}">edit</a>

    {{ include('amicale_news/_delete_form.html.twig') }}
{% endblock %}
