{{ form_start(form) }}
    {{ form_row(form.user) }}
    {{ form_row(form.vehicles) }}
    {{ form_row(form.reportVehicle) }}

    <button class="btn">{{ button_label|default('Signaler') }}</button>
{{ form_end(form) }}
