{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btnPosteGoldenBook float-end">{{ button_label|default('Poster') }}</button>
    <button class="btn btnValidateGoldenBook">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
