{% extends 'base.html.twig' %}

{% block title %}GoldenBook index{% endblock %}

{% block body %}
<section id="goldenBook">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Livre d'or</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% for golden_book in golden_books %}
                    {% if golden_book.validationStatus == 'Yes' %}
                        <arcticle class="goldenBookArticle">
                            <h4>{{ golden_book.title }}</h4>
                            <p>{{ golden_book.text|raw }}</p>
                        </arcticle>
                    {% endif %}
                {% else %}
                    <p>Il n'y à pas encore de commentaires dans le livre d'or.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="addGoldenBookArticle">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Ajouter un commentaire</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Les Sapeurs-Pompiers de la montagne sont intervenus pour vous et vous souhaitez les remercier ? Profitez de cet espace dédié.</p>
                    {{ include('golden_book/_form.html.twig') }}
                <p>*Les remerciements doivent être anonymes et sans indication de lieu.
                <br>**Les commentaires sont soumis à modération avant d'être publiés.</p>
            </div>
        </div>
    </div>
</section>

<script>
            window.scrollTo(0, 150);
</script>

<script type="text/javascript" src="{{ asset('js/validationStatusGoldenBook.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/formGoldenBookPublic.js') }}"></script>
{% endblock %}
