{% extends 'base.html.twig' %}

{% block title %}GoldenBook{% endblock %}

{% block body %}
    <h1>GoldenBook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ golden_book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ golden_book.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ golden_book.text }}</td>
            </tr>
            <tr>
                <th>ValidationStatus</th>
                <td>{{ golden_book.validationStatus ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('golden_book_index') }}">back to list</a>

    <a href="{{ path('golden_book_edit', {'id': golden_book.id}) }}">edit</a>

    {{ include('golden_book/_delete_form.html.twig') }}
{% endblock %}
