{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}
    {{ form_row(form.title, { label: 'Titre :' }) }}
    {{ form_row(form.text, { label: 'Texte :' }) }}

    <button class="btn-save">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
