{% extends 'base.html.twig' %}

{% block title %}StationStory{% endblock %}

{% block body %}
    <h1>StationStory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ station_story.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ station_story.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ station_story.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('station_story_index') }}">back to list</a>

    <a href="{{ path('station_story_edit', {'id': station_story.id}) }}">edit</a>

    {{ include('station_story/_delete_form.html.twig') }}
{% endblock %}
