<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Le site web des Sapeurs-Pompiers de La Montagne vous permettra de mieux les connaîtres, de postuler mais également de les remercier">
        <title>{% block title %}C.I.S La MONTAGNE{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- ICONS -->
        <script src="https://kit.fontawesome.com/e6187d3d12.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/styles.css')}}">
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="bg-light topBarreContainer">
                <div class="container">
                    <div class="row">
                        <Div class="col-md-12">
                            <div class="topBarre">
                                <div>
                                    <a href="{{ path('urgency_phone') }}"><i class="fas fa-phone-alt"></i>18/112</a>
                                    <a href="{{ path('contact') }}"><i class="far fa-envelope"></i>Contactez-nous</a>
                                </div>
        
                                <div class="socialNetwork">
                                    <p class="socialNetwork-P">Restons connectés</p>
                                    <p><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i><i class="fab fa-linkedin-in"></i></p>
                                </div>
                            </div>
                        </Div>
                    </div>
                </div>
            </div>

            <nav id="principalNav" class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="{{ asset('img/logo-cis.png') }}" alt="">C.I.S LA MONTAGNE</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ms-auto">
                            <a class="nav-link" aria-current="page" href="{{ path('home') }}">Accueil</a>
                            <a class="nav-link" href="{{ path('page_missions') }}">Nos missions</a>
                            <a class="nav-link" href="{{ path('page_amicale_sp') }}">L'amicale des sapeurs-pompiers</a>
                            <a class="nav-link" href="{{ path('golden_book_index') }}">Livre d'or</a>
                        </div>

                        
                        {% if app.user %}
                            <div class="navbar-nav user-dropdown ms-auto">
                                    <div class="dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img class="profile-img" src="{{ asset('img/user.png') }}" />
                                            
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a href="{{ path('home_extranet') }}">Extranet</a></li>
                                            <li><a href="{{ path('home_back_office') }}">Back-office</a></li>
                                            <li><a href="{{ path('app_logout') }}" style="color: red !important;"><i class="fas fa-sign-out-alt"></i>Déconnexion</a></li>
                                        </ul>
                                    </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </nav>

            <div class="home_title">
                <h1>C.I.S<br>La Montagne</h1>
            </div>
        </header>

        <div id="menu_turn_style" class="container-fluid">
            <div class="menu_turn_style">
                <input type="checkbox">
                <a href="/">
                    <img src="{{ asset('img/acces-rapide.png') }}">
                </a>
                <ul>
                    <li>
                        <a href="{{ path('app_login') }}">
                            <img src="{{ asset('img/acces-reserve-1.png') }}">
                        </a>
                        <em class="flying_bubble_info_1">Accès réservé</em>
                    </li>
                    <li>
                        <a href="{{ path('urgency_phone') }}">
                            <img src="{{ asset('img/numero-durgence-1.png') }}">
                        </a>
                        <em class="flying_bubble_info_2">18/112</em>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">
                            <img src="{{ asset('img/contacter-nous-1.png') }}">
                        </a>
                        <em class="flying_bubble_info_3">Contactez-nous</em>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <img src="{{ asset('img/attestation-1.png') }}">
                        </a>
                        <em class="flying_bubble_info_4">Attestation d’intervention</em>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{ asset('img/attestation-1.png') }}">
                        </a>
                        <em class="flying_bubble_info_5">Demande de saisine</em>
                    </li> -->
                </ul>
            </div>
        </div>

        {% block body %}{% endblock %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <img class="logo-footer" src="{{ asset('img/logo-cis.png') }}" alt="CIS la Montagne">
                    </div>
        
                    <div class="col-md-8">
                        <div class="central-footer">
                            <div class="bloc-adress">
                                <div class="adress">
                                    <h5>Centre d'incendie et de secours de La Montagne</h5>
                                    <p>189 route de Bouguenais,<br>
                                    44620 LA MONTAGNE<br>
                                    Tél: 02.40.65.84.97</p>
                                </div>

                                <div class="maps">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2876.7129950532326!2d-1.6881861621356569!3d47.18944132986077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805951094df9da1%3A0xeab34530803413fe!2sCaserne%20de%20la%20Montagne!5e1!3m2!1sfr!2sfr!4v1635207152872!5m2!1sfr!2sfr" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                            
                            <div class="bloc-mentions-legales">
                                <a class="border-right" href="">Plan du site</a>
                                <a class="border-right" href="">Mentions légales et confidentialité</a>
                                <a href="http://www.cosinus-sa.fr">Réalisation : COSINUS-SA webcreation</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-2">
                        <div class="right-footer">
                            <ul>
                                <li><a href="{{ path('app_login') }}"><i class="fas fa-lock"></i>Accès réservé</a></li>
                                <li><a class="border-right" href="{{ path('contact') }}"><i class="fas fa-envelope-open-text"></i>Contactez-nous</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="{{ asset('js/navbarscroll.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>
