<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Le site web des Sapeurs-Pompiers de La Montagne vous permettra de mieux les connaîtres, de postuler mais également de les remercier">
        <meta name="robots" content="index follow">
        <title>{% block title %}C.I.S La MONTAGNE{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap-5/css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{ asset('css/extranet/styleExtranet.css')}}">
        {% endblock %}

        {% block javascripts %}
        <!-- ReCaptcha V3 -->
        <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LenHCYdAAAAAFOCG3THd9FcS7Bz6yA6mjej2Bw3"></script> -->
        <!-- <script>
            function onClick(e)
            {
                e.preventDefault();
                grecaptcha.ready(function()
                {
                    grecaptcha.execute('6LenHCYdAAAAAFOCG3THd9FcS7Bz6yA6mjej2Bw3', {action: 'submit'}).then(function(token)
                    {
                        console.log('captacha');
                    });
                });
            }
        </script> -->
        
        <!-- ICONS -->
        <script src="https://kit.fontawesome.com/e6187d3d12.js" crossorigin="anonymous"></script>


        <!-- Tarte au citron -->
        <!-- <script type="text/javascript" src="{{asset('tarteaucitron/tarteaucitron.js')}}"></script>
        <script>
            tarteaucitron.init({
                "privacyUrl": "", /* URL de la page de la politique de vie privée */
                "hashtag": "#tarteaucitron", /* Ouvrir le panneau contenant ce hashtag */
                "cookieName": "tarteaucitron", /* Nom du Cookie */
                "orientation": "middle", /* Position de la banniére (top - bottom) */
                "showAlertSmall": false, /* Voir la bannière réduite en bas à droite */
                "cookieslist": false, /* Voir la liste des cookies */
                "adblocker": false, /* Voir une alerte si un bloqueur de publicités est détecté */
                "AcceptAllCta": true, /* Voir le bouton accepter tout (quand highPrivacy est à true) */
                "highPrivacy": true, /* Désactiver le consentement automatique */
                "handleBrowserDNTRequest": false, /* Si la protection du suivi du navigateur est activée, tout interdire */
                "removeCredit": false, /* Retirer le lien vers tarteaucitron.js */
                "moreInfoLink": false, /* Afficher le lien 'voir plus d'infos' */
                "useExternalCss": false, /* Si false, tarteaucitron.css sera chargé*/
                "cookieDomain": '.my-multisite-domaine.fr', /* Cookie multisite */
                "readmoreLink": '/cookiespolicy' /* Lien vers la page 'Lire plus' */
            });

            tarteaucitron.user.gtagUa = 'G-10R68LQL0G';
            // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
            tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
            (tarteaucitron.job = tarteaucitron.job || []).push('gtag');

            tarteaucitron.user.recaptchaapi = '6LenHCYdAAAAAFOCG3THd9FcS7Bz6yA6mjej2Bw3';
            (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
        </script> -->
            
        {% endblock %}
        
    </head>

    <body>
        <header id="extranet">
            <nav id="principalNav" class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="{{ asset('img/logo-cis.avif') }}" type="image/AVIF" alt="logo cis la montagne">C.I.S LA MONTAGNE</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ms-auto">
                            <a class="nav-link" aria-current="page" href="{{ path('home') }}">Accueil</a>
                            <a class="nav-link" href="{{ path('nosMissions') }}">Nos missions</a>
                            <a class="nav-link" href="{{ path('amicale_sp') }}">L'amicale des sapeurs-pompiers</a>
                            <a class="nav-link" href="{{ path('golden_book_index') }}">Livre d'or</a>
                        </div>

                        
                        {% if app.user %}
                            <div class="navbar-nav user-dropdown ms-auto">
                                    <div class="dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img class="profile-img" src="{{ asset('img/user.png') }}" alt="user" />
                                        </a>
                                        {% set tableau = [] %}
                                            {% for roleCenter in app.user.roleCenter %}
                                                {% if roleCenter.nameRoleCenter not in tableau %}
                                                    {% set tableau = tableau|merge([roleCenter.nameRoleCenter])%}
                                                {% endif %}
                                            {% endfor %}

                                            
                                            

                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li class="userProfileContainer">Bonjour,<br>{{ app.user.firstName }} {{ app.user.lastName }}<br></li>
                                            <li><a href="{{ path('extranet') }}">Extranet</a></li>

                                            {% if 'Chef de centre' in tableau or 'Adjoint moyens opérationnels' in tableau or 'Adjoint Moyens/Ressources/Infrastructures' in tableau or 'Bureau Amicale' in tableau or 'Admin' in tableau %}
                                                <li><a href="{{ path('admin') }}">Back-office</a></li>
                                            {% endif %}

                                            <li class="userLogoutContainer"><a href="{{ path('app_logout') }}" style="color: red !important;"><i class="fas fa-sign-out-alt"></i>Déconnexion</a></li>
                                        </ul>
                                    </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </nav>
        </header>

        <!-- <div id="menu_turn_style" class="container-fluid" alt="Menu rapide icons">
            <div class="menu_turn_style">
                <label style="display: none;" for="menu-rapide"></label>
                <input id="menu-rapide" type="checkbox">
                <a href="/">
                    <img src="{{ asset('img/acces-rapide.png') }}" alt="Menu rapide icons">
                </a>
                <ul>
                    <li>
                        <a href="{{ path('app_login') }}">
                            <img src="{{ asset('img/acces-reserve-1.png') }}" alt="Menu rapide icons">
                        </a>
                        <em class="flying_bubble_info_1">Accès réservé</em>
                    </li>
                    <li>
                        <a href="{{ path('urgency_phone') }}">
                            <img src="{{ asset('img/numero-durgence-1.png') }}" alt="Menu rapide icons">
                        </a>
                        <em class="flying_bubble_info_2">18/112</em>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">
                            <img src="{{ asset('img/contacter-nous-1.png') }}" alt="Menu rapide icons">
                        </a>
                        <em class="flying_bubble_info_3">Contactez-nous</em>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{ asset('img/attestation-1.png') }}" alt="Menu rapide icons">
                        </a>
                        <em class="flying_bubble_info_4">Attestation d’intervention</em>
                    </li>
                    <li>
                        <a href="{{ path('bugSignalement') }}">
                            <img style="border-radius: 50%;" src="{{ asset('img/bugs.png') }}" alt="Menu rapide icons">
                        </a>
                        <em class="flying_bubble_info_5">Signaler un bug</em>
                    </li>
                </ul>
            </div>
        </div> -->

        {% block body %}{% endblock %}

        <script type="text/javascript" src="{{ asset('js/navbarscroll.js') }}"></script>

        <script src="{{ asset('bootstrap-5/js/bootstrap.min.js')}}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->
    </body>
</html>
