{{ form_start(form) }}
    {{ form_row(form.title, { label: 'Appelation de l\'engin :' }) }}
    {{ form_row(form.text, { label: 'Description de l\'engin :' }) }}
    {{ form_row(form.enginpicture, { label: 'Photo de l\'engin :' }) }}
    

    <button class="btn-save">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}

