{% extends 'base.html.twig' %}

{% block title %}Engins index{% endblock %}

{% block body %}
    <h1>Engins index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>EnginPicture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for engin in engins %}
            <tr>
                <td>{{ engin.id }}</td>
                <td>{{ engin.title }}</td>
                <td>{{ engin.text|raw }}</td>
                <td><img src="{{ asset('img/upload/engins/' ~ engin.enginPicture) }}" width="100" alt=""></td>
                <td>
                    <a href="{{ path('engins_show', {'id': engin.id}) }}">show</a>
                    <a href="{{ path('engins_edit', {'id': engin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('engins_new') }}">Create new</a>
{% endblock %}
